*
{
    color:white;
}
.container
{
    display:flex;
    justify-content: space-evenly;
    margin:30px;
}
@media only screen and (max-width:750px) {
   .container{
    flex-direction: column;
    align-items: center;
   }
   .btn{
    margin-bottom: 20px;
   } 
}
h2{
    font-size: 2rem;
}
.btn
{
    height:250px;
    width:250px;
    border-radius:45px;
    margin-right: 20px;

}
.bt
{
    background-color: red;
    height:70px;
    width:200px;
    font-size: 1.5rem;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:5rem;
    text-align: center;
    color: white;
}
body{
    background-color: black;
}
h2{
    color: white;
    text-align: center;
}
.center
{
    text-align: center;
}
.display
{
     display:inline-block;
     width:48%;
}